@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  @apply min-h-screen bg-zinc-100 dark:bg-zinc-900;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.btn {
  @apply px-2 py-1 bg-zinc-200 dark:bg-zinc-800 text-black dark:text-white text-sm rounded hover:bg-zinc-300 dark:hover:bg-zinc-700
}